/* reset rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #080B12;
    --gray: #282828;
    --white: #FCFCFC;
    --fontgray: #6E6E6E;
    --darkblue: #141922;
  }


body{
    font-family: 'Poppins', sans-serif;
}

ul, li, menu{
    text-decoration: none;
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.t-white{
    color: var(--white);
}
/* layouts */

.big-container{
    height: calc(100vh - 80px);
    display: flex;
}

.small-container{
    height: 80px;
}

.col-1{
    flex-basis: 240px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-bottom: 0.5rem;
    overflow: auto;
}

.col-2{
    width: calc(100% - 225px);
    background-color: var(--darkblue);
    overflow: auto;
}

/* navbar menu */

.logo-hidden{
    display: none;
}

.nav-menu{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: var(--fontgray);
    font-size: 0.9rem;
}

.nav-menu li:hover{
    color: var(--white);
}
.logo{
    width: 130px;
    margin: 1.2rem 0;
    display: block;
}

.nav-menu-list a{
    display: flex;
    align-items: center;
}

.nav-menu-list li{
    padding-bottom: 0.6rem;
}

.nav-menu-list li::before{
    content: "";
    display: block;
    height: 27px;
    width: 2px;
    background-color: green;
    opacity: 0;
    position: absolute;
    left: 0;
}

.nav-menu-list li:hover::before{
    opacity: 1;
}
   
.icons{
    width: 1.5rem;
    margin-right: 0.2rem;
}

.fa-square-plus{
    font-size: 30px;
    vertical-align: middle;
    padding-right: 0.3rem;
}

.playlist-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 0.6rem;
}

.fa-square-plus{
    font-size: 2.4rem;
}

.install-app{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.install-app li a{
    display: flex;
    align-items: center;
}

.install-app li:nth-child(1){
    border-bottom: 1px solid var(--fontgray);
    padding-bottom: 5px;
    font-size: 0.75rem;
}
.install-app li:nth-child(2){
    padding-top: 5px;
}

.icon-download{
    height: 18px;
    width: 22px;
    padding-right: 3px;
}

.icon-profile{
    height: 22px;
    width: 22px;
    border-radius: 100%;
    background-color: var(--fontgray);
}

#profile{
    padding-left: 4px;
}

@media (max-width: 639px){
    .col-1{
        min-width: 235px;
    }
}

@media (max-width: 552px){
 .logo,
 .nav-menu span,
 .playlist-list,
 .title-playlist{
    display: none;
 }

 .col-2{
    flex-grow: 1;
 }

 .logo-hidden{
    display: block;
    padding-top: 3px;
    padding-bottom: 0.6rem;
    width: 60%;
    align-self: center;
}
 .install-app li:nth-child(1){
    border: none;
 }
 .col-1{
    flex-basis: 50px;
    min-width: 0px;
    padding: 4px;
    align-items: center;
 }
 .icons{
    margin-right: 0;
 }
}





/* <!-- big container wrapper songs --> */

.upgrade{
    background-color: var(--black);
    color: var(--fontgray);
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
}

.btn{
    border: 2px solid var(--white);
    background-color: var(--black);
    border-radius: 30px;
    color: var(--white);
    padding: 10px 30px;
    cursor: pointer;
    margin-right: 1rem;
}

.menu-wrapper-songs{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper-img{
    position: relative;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.overlay i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: var(--white);
    opacity: 0;
}

.main-menu li a:hover{
    color: #fff;
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(128, 248, 128);
}

.col-2 .upgrade:hover .btn{
    transform: scale(1.1);
}

.col-6 .wrapper-img:hover .overlay{
    opacity: 1;
    cursor: pointer;
}
.col-6 .wrapper-img .overlay i:hover{
    opacity: 1;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.main-menu{
    display: flex;
    color: var(--fontgray);
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.main-menu a{
    font-size: 14px;
    font-weight: 700;
}

.container{
    width: 100%;
    padding: 0 15px;
}

.container h2{
    font-weight: 800;
    font-size: 21px;
    padding-bottom: 20px;
}

.container h3{
    color: var(--white);
    font-size: 16px;
}

.container span,
.container p{
    color: var(--fontgray);
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 20px;
}

.box-creato-per-te{
    padding-top: 20px;
}

.wrap-playlist{
    display: flex;
    gap: 10px;

}

.col-6{
    flex-basis: calc(100%/6);
}

.box-info-playlist{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.border{
    border-radius: 100%;
}

@media (max-width:878px){
    .col-6{
    flex-basis: calc(100%/4 - 10px);
    }
    .wrap-playlist{
        flex-wrap: wrap;
    }
}

@media (max-width:639px){
    .col-6{
    flex-basis: calc(100%/2 - 10px);
    }
    .wrap-playlist{
        flex-wrap: wrap;
    }
    .box-info-playlist{
        gap: 0;
    }
    .container span{
        padding-bottom: 0;
    }
}






/* Aside */

.toolbar{
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--fontgray);
}

.info-songs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    width: 240px;
}

.info-song-details span:hover{
    text-decoration: underline;
    color: var(--white);
}

.wrapper-favourite{
    flex-grow: 1;
    text-align: end;
    padding-right: 5PX;
}

.wrapper-favourite .fa-regular:hover{
    color: var(--white);
}

.info-song-details{
    padding-left: 11px;
}

.info-song-details h4,
.info-song-details span{
    font-weight: 700;
    font-size: 14px;
}

.fa-folder{
    padding-left: 10px;
}

.info-songs img{
    height: 55px;
    aspect-ratio: 1/1;
}

.fa-list,
.fa-desktop{
    padding-right: 15px;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.player .fa-solid,
.fa-regular{
    padding: 0 15px;
}

.player .fa-regular{
    font-size: 1.4rem;
}
.barra-box{
    padding-top: 10px;
    display: flex;
    width: 100%;
    align-items: center;
}

.long{
    width: 100%;
}

.barra-player{
    display:inline-block;
    height: 4px;
    width: 100%;
    background-color: var(--fontgray);
    border-radius: 20px;
    vertical-align: middle;
    margin:0 15px;
    position: relative;
}

.barra-player::after{
    content: "";
    display:block;
    height: 4px;
    width: 25%;
    background-color: var(--white);
    border-radius: 20px;
}

.fa-circle{
    position: absolute;
    left: 20%;
    color: var(--white);
    top: -3px;
    font-size: 0.7rem;
    opacity: 0;
}

.fa-circle-play:hover{
    transform: scale(1.1);
}
.barra-player:hover .fa-circle{
    opacity:1;
}

.barra-player:hover::after{
    background-color: rgb(67, 177, 67);
}

@media (max-width: 878px){
    .main-menu{
        gap: 26px;
    }
}

@media (max-width: 639px){
    .player, .info-songs{
     width: 100%;
    }
    .info-songs{
     padding-left: 0px;
    }
 
    .wrapper-favourite{
     flex-grow: 0;
     text-align: initial;
     display: flex; 
     flex-direction: column;
     padding-left: 10px;
    }
    .fa-folder{
     padding-left: 0px;
     }
     .player .fa-solid,
     .fa-regular{
         padding: 0 0.5rem;
     }
     .main-menu{
         gap: 2rem;
     }
 }
 
@media (max-width: 552px){
   .player, .info-songs{
    width: 100%;
   }
   .info-songs{
    padding-left: 5px;
   }
   .wrapper-favourite{
    flex-grow: 0;
    text-align: initial;
    padding-right: 0.9rem;
   }
   .fa-folder{
    padding-left: 0px;
    }
    .player .fa-solid,
    .fa-regular{
        padding: 0 0.3rem;
    }
}


