/* reset rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #080B12;
    --gray: #282828;
    --white: #FCFCFC;
    --fontgray: #6E6E6E;
    --darkblue: #141922;
  }


body{
    font-family: 'Poppins', sans-serif;
}

ul, li, menu{
    text-decoration: none;
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.t-white{
    color: var(--white);
}
/* layouts */

.big-container{
    height: calc(100vh - 80px);
    display: flex;
}

.small-container{
    height: 80px;
}

.col-1{
    flex-basis: 240px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-bottom: 0.5rem;
    overflow: auto;
}

.col-2{
    flex-grow: 1;
    background-color: var(--darkblue);
}

/* navbar menu */

.logo-hidden{
    display: none;
}

.nav-menu{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: var(--fontgray);
    font-size: 14px;
}

.logo{
    width: 130px;
    margin: 1.2rem 0;
    display: block;
}

.nav-menu-list a{
    display: flex;
    align-items: center;
}

.nav-menu-list li{
    padding-bottom: 10px;
}

.icons{
    width: 1.5rem;
    margin-right: 3px;
}

.fa-square-plus{
    font-size: 30px;
    vertical-align: middle;
    padding-right: 5px;
}

.playlist-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 10px;
}

.fa-square-plus{
    font-size: 2.4rem;
}

.install-app{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.install-app li a{
    display: flex;
    align-items: center;
}

.install-app li:nth-child(1){
    border-bottom: 1px solid var(--fontgray);
    padding-bottom: 5px;
    font-size: 12px;
}
.install-app li:nth-child(2){
    padding-top: 5px;
}

.icon-download{
    height: 18px;
    width: 22px;
    padding-right: 3px;
}

.icon-profile{
    height: 22px;
    width: 22px;
    border-radius: 100%;
    background-color: var(--fontgray);
}

#profile{
    padding-left: 4px;
}

@media (max-width: 552px){
 .logo,
 .nav-menu span,
 .playlist-list,
 .title-playlist{
    display: none;
 }

 .logo-hidden{
    display: block;
    padding-top: 3px;
    padding-bottom: 10px;
    width: 80%;
    align-self: center;
}
 .install-app li:nth-child(1){
    border: none;
 }
 .col-1{
    flex-basis: 50px;
    padding: 4px;
    align-items: center;
 }
 .icons{
    margin-right: 0;
 }
}

@media (max-width: 639px){
    .col-1{
        min-width: 235px;
    }
}




/* <!-- big container wrapper songs --> */




.upgrade{
    background-color: var(--black);
    color: var(--fontgray);
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
}

.btn{
    border: 2px solid var(--white);
    background-color: var(--black);
    border-radius: 30px;
    color: var(--white);
    padding: 10px 30px;
    cursor: pointer;
}

.menu-wrapper-songs{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.main-menu{
    display: flex;
    color: var(--fontgray);
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    flex-wrap: wrap;
}

.main-menu a{
    font-size: 14px;
    font-weight: 700;
}

.wrap-recently{
    width: 100%;
    border: 1px solid red;
}

.wrap-playlist{
    display: flex;
    gap: 10px;
}

.col-6{
    flex-basis: calc(100%/6);
    border: 1px solid green;
}









/* Aside */

.toolbar{
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--fontgray);
}

.info-songs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    width: 240px;
}

.wrapper-favourite{
    flex-grow: 1;
    text-align: end;
    padding-right: 5PX;
}

.info-song-details{
    padding-left: 11px;
}

.info-song-details h4,
.info-song-details span{
    font-weight: 700;
    font-size: 14px;
}

.fa-folder{
    padding-left: 10px;
}

.info-songs img{
    height: 55px;
    aspect-ratio: 1/1;
}

.fa-list,
.fa-desktop{
    padding-right: 15px;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.player .fa-solid{
    padding-left: 15px;
}

.barra-box{
    padding-top: 10px;
    display: flex;
    width: 100%;
    align-items: center;
}

.long{
    width: 100%;
}

.barra-player{
    display:inline-block;
    height: 4px;
    width: 100%;
    background-color: var(--fontgray);
    border-radius: 20px;
    vertical-align: middle;
    margin:0 15px;
}

@media (max-width: 552px){
   .player, .info-songs{
    width: 100%;
   }
   .info-songs{
    padding-left: 5px;
   }
   .wrapper-favourite{
    flex-grow: 0;
    text-align: initial;
   }
   .fa-folder{
    padding-left: 0px;
    }
    .player .fa-solid{
        padding: 0 9px;
    }
}

@media (max-width: 639px){
   .player, .info-songs{
    width: 100%;
   }
   .info-songs{
    padding-left: 0px;
   }

   .wrapper-favourite{
    flex-grow: 0;
    text-align: initial;
    display: flex; 
    flex-direction: column;
    padding-left: 10px;
   }
   .fa-folder{
    padding-left: 0px;
    }
    .player .fa-solid{
        padding: 0 11px;
    }
    .main-menu{
        gap: 33px;
    }
}

@media (max-width: 878px){
    .main-menu{
        gap: 31px;
    }
}