/* reset rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
}

ul, li, menu{
    text-decoration: none;
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* debug */

ul, h2, div{
    border: 1px red solid;
}


/* layouts */

.big-container{
    height: calc(100vh - 120px);
    border: 1px red solid;
    display: flex;
}

.small-container{
    height: 120px;
    border: 1px solid green;
}

.col-1{
    flex-basis: 240px;
    border: 1px solid blue;
}

.col-2{
    flex-grow: 1;
    border: 1px solid blue;
}

/* navbar menu */

.nav-menu{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.nav-menu img{
    height: 55px;
}

.install-app{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

